body {
    margin:0;
    font-family:Helmet,Freesans,Helvetica,Arial,sans-serif;
}
#topbar {
    background-color:#700001;
    width:100%;
    height:44px;
    color:white;
}
.fixedwidth {
    width:1050px;
    margin:0 auto;
}
#logodiv {
    padding:5px 10px 0 5px;
    float:left;
    border-right:1px solid #8C0002;
}
#signindiv {
    border-right:1px solid #8C0002;
    font-weight:bold;
    font-size:0.80em;
    padding:4px 45px 15px 20px;
    float:left;
}
#signindiv img{
    position:relative;
    top:6px;
}
#topmenudiv {
    float:left;
}
#topmenudiv ul {
    margin:0;
    padding:0;
}
#topmenudiv li {
    font-weight:bold;
    font-size:0.9em;
    list-style:none;
    border-right:1px solid #8C0002;
    height:100%;
    padding:15px 20px 12px 20px;
    float:left;
}
#searchdiv {
    padding:8px 0 15px 30px;
    position:relative;
    left:8px;
}
#searchdiv input {
    height:9px;
    font-size:14px;
    border:none;
    padding:10px;
    background-image:url("images/magnify.png");
    background-repeat:no-repeat;
    background-position:right center;
}
#newsbar {
    background-color:#8C0002;
    width:100%;
    height:87px;
    color:white;
    padding-top: 15px;
    padding-left: 2px;
}
.break {
    clear: both;
}
#newsheader {
    font-size: 3em;
}
#uk {
    font-size: 0.7em;
    padding-left: 15px;
}
#newsbar p {
    margin:0;
    padding: 0;
    float: left;
}
#rss {
    float:right;
    margin-top: 30px;
}
#rss img {
    height: 15px;
}
#topicmenu {

}
#topicmenu ul {
    background-color: #4A2229;
    padding: 5px 0 2px 0;
    margin: 0;
    height: 25px;
}
#topicmenu li {
    list-style: none;
    font-size: 0.8em;
    padding:0 6px 0 6px;
    margin-top: 5px;
    border-right:1px solid #8C0002;
    float: left;
    background-color: #4A2229;
}
#topicmenu li:hover {
    background-color: aliceblue;
    color:black;
    height: 21px;
    position: relative;
    top: -9px;
    padding-top: 10px;
}
#content {
    width:100%;
    height:87px;
    color:#535353;
    font-size: 0.8em;
}
.date {
    font-weight: bold;
}
h1 {
    color:#265082;
    font-size: 2.5em;
}
.headlineimage {
    float: left;
    width: 380px;
}
.newsitem {
    position: relative;
    left: 10px;
    float: left;
    width: 270px;
    top: -14px;
    font-size: 1.1em;
}
.newsitem a {
    color:#7CA1C1;
    text-decoration: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.video {
    background-image:url("images/play.png");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: left center;
    padding-left: 20px;
}
.links {
    line-height: 1.3em;
}
.audio {
    background-image:url("images/audio.png");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: left center;
    padding-left: 20px;
}
#watchlisten {
    float: right;
    width:349px;
    background-color: lightgray;
    position: relative;
    top: -80px;
}
h2 {
    color: #4A2229;
    margin: 10px 0 10px 10px;
    font-size: 1.9em;
}
.boxes {
    float: right;
    height: 20px;
    margin: 15px 10px 0 0;
}
.left {
    float: left;
    border-right: solid white 1px;
    width: 23px;
}
.wlblock {
    float: left;
    background-color: #C96C15;
    border-right: solid white 1px;
    width: 150px;
    margin-bottom: 5px;
}
.wlblock a {
    color: white;
    padding-left: 5px;
}
.wlblock img {
    width: 150px;
}
.wlblock p {
    margin: 10px 8px 11px 10px;
}
.right {
    float: left;
    width: 23px;
}
#watchlisten ul {
    margin: 0;
    padding: 0;
}
#watchlisten li {
    list-style: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding: 13px 0 10px 60px;
    font-size: 1.5em;
    background-image: url("images/live.png");
    margin-left: 20px;
    margin-right: 20px;
}
.bb {
    border-bottom: 1px solid ghostwhite;
}
